body {
  margin: 0;
  background-color: #d6c8b6;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.header {
  margin: 50px auto;
  max-width: 1200px;

  img {
    width: 1200px;
    height: 280px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.wrapper {
  background: #FFFFFF;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  max-width: 1200px;
  margin: -55px auto;
  margin-bottom: 50px;
  padding-bottom: 1100px;

  h1 {
    //text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 20px;
    color: #662E1C;
  }
}

.instruments {
  display: flex;
}

.instrument {
  border: 1px solid #662E1C;
  border-radius: 7px;
  margin-left: 20px;
  width: 180px;

  .img {
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
  }

  .title {
    margin-top: 15px;
    margin-left: 10px;
  }

  .beschreibung {
    margin-left: 10px;
  }
}